{% extends 'base.html' %} {% block title %}{{ user.full_name }}{% endblock %}}
{% block content %}

<div>
  {% if user.image_url %}
  <div>
    <img src="{{ user.image_url }}" />
  </div>
  {% endif %}

  <div>
    <p>{{ user.full_name }}</p>

    <form>
      <button formaction="/users/{{ user.id }}/edit" formmethod="GET">
        Edit
      </button>
      <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
        Delete
      </button>
    </form>

    <h2>Latest Posts</h2>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
        <i>{{ post.friendly_date }}</i>
      </li>
      {% endfor %}
    </ul>

    <p>
      <a href="/users/{{ user.id }}/posts/new">New Post</a>
    </p>
  </div>
</div>

{% endblock %}
